
@font-face {
  font-family: Montserrat;
  src: url(./assets/Montserrat-VariableFont_wght.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.scrollHide::-webkit-scrollbar{
  display: none;
}
/* Targeting the react-select menu list */

/* For WebKit browsers (Chrome, Safari) */
.react-select__menu-list::-webkit-scrollbar {
  width: 6px;
}

.react-select__menu-list::-webkit-scrollbar-track {
  background: white; /* Background of the scrollbar track */
}

.react-select__menu-list::-webkit-scrollbar-thumb {
  background-color: #1b5577; /* Change the color as needed */
   border-radius: 5px; /* Optional: Round the corners of the thumb */
}

